li{
  list-style: none;  
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  position: relative;
  margin-left: 20px;
  font-family: latto;
  font-style: italic;
}
li>span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
li>span>button{
    border: none;
    padding: 0;
    background-color: rgba(245, 245, 220, 0);
    
}
li>span>button:active {
    transform: translateY(2px);
  }
li>p{
    margin: 0px;
}

.iconcheck-complete{
  text-decoration: line-through;
}