ul{
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-size: 25px;
    width: 90%;
    left: 1px;
    position: relative;
    margin-top: 50px;
    border-top: none;
}
