#CreateTodoButton{
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    border: none;
    padding: 0;
    left: 1190px;
    top: 40px;
    background-color: rgba(0, 0, 0, 0);
}

#CreateTodoButton:hover{
    animation-name: girobutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}



@keyframes girobutton{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 230deg
    }
}


#CreateTodoButton:active {
    transform: translateY(2px);
  }