#CreateTodoButton{
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    border: none;
    padding: 0;
    left: 100px;
    top: 454px;
    background-color: rgba(0, 0, 0, 0);
}

#CreateTodoButton:focus,
#CreateTodoButton:active{
    animation-name: girobutton;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes girobutton{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg
    }
}