#menuTodo{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

#menuTodo>button{
    font-size: 20px;
    border-radius: 8px;
    background-color: #a8a7a8;
}

#menuTodo>button:hover{
    background-color: #c5c6c4;
}

#menuTodo>button:focus {
    background-color: #c5c6c4;
  }


.MTodo{
    border-bottom: none;
}