

h1{ 
    display: flex;
    justify-content: center;
    width: 1000px;
    background-color:   #d3e3b6  ;
    font-size: 40px;
    text-align: center;
    margin:"0";
    padding:48px;
    font-family: Lato ;    
  }