
h1{ 
    display: flex;
    justify-content: center;
    width: 85%;
    background-color:   #d3e3b6  ;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    margin:"0";
    font-family: Lato ;    
  }