#hola{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #c5c6c4;
}
#inputTodo{
    width: 80%;
    height: 50px;
    border-radius: 40px;
    font-size: 24px;
    text-align: center;
    background-color: #dbdbdb;
}
